@tailwind base;
@tailwind components;
@tailwind utilities;

/* 在竖屏模式下，我们设置 `padding-top` 和 `padding-bottom` 为 `env(safe-area-inset-top)` 和 `env(safe-area-inset-bottom)` 的值，以达到内容不被地址栏、菜单栏或工具栏遮挡的效果。 */
@media (orientation: portrait) {
  body {
    /* 当屏幕方向为竖屏时应用的样式 */
    padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
  }
}

body {
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
  height: -webkit-fill-available;
  height: calc(100% - env(safe-area-inset-top, 0px));
}

.bg {
  /* stylelint-disable-next-line at-rule-no-deprecated */
  @apply bg-[url('/m/images/bg.png')] bg-cover bg-center bg-no-repeat;
}

a {
  @apply !text-black;
}

.subtitle {
  @apply text-[#000] text-sm font-semibold;
}

.text-price-base {
  @apply text-base font-bold text-[#f0700c] md:text-lg lg:text-xl;
}

.text-price-lg {
  @apply text-lg font-bold text-[#f0700c] md:text-xl lg:text-2xl;
}

.text-money-lg {
  @apply text-lg font-bold text-[#f0700c];
}

.text-money-xl {
  @apply text-xl font-bold text-[#f0700c];
}

.text-money-3xl {
  @apply text-3xl font-bold text-[#f0700c];
}

/* 购物车 店铺名 商品名  */
.text-title {
  @apply text-sm font-bold md:text-base lg:text-lg;
}


.text-title-2xl {
  @apply text-2xl font-bold text-[#000];
}

/* 购物车 sku 运费  */

.text-light-gray {
  @apply text-xs text-[#999] md:text-sm lg:text-base;
}

.text-light .bg-default-100 {
  @apply !bg-white;
}

.button-default {
  @apply border bg-white text-black;
}

.button-white {
  @apply border border-[#ccc] bg-[#fff] text-[#000];
}

.box-card {
  @apply my-3 rounded-xl bg-white;
}

/* 购物车卡片 */
.rounded-box {
  @apply rounded-lg bg-white;
}

.adm-tab-bar-item {
  @apply !text-[#f0700c];
}

.adm-tab-bar-item-active {
  @apply !text-[#f0700c];
}

.group[data-focus="true"] .group-data-\[focus\=true\]\:border-default-foreground {
  border-color: #f0700c !important;
}

.navbar-title {
  @apply text-lg font-semibold text-gray-900;
}

/* 首页卡片 */
.home-card {
  @apply rounded-lg bg-white py-2;
}

/* 底部结算 */
.bottom-settle {
  @apply flex items-center justify-between px-3 py-2 bg-white;
}

/* 大号余额 */
.text-balance {
  @apply text-3xl font-extrabold leading-tight text-[#f0700c];
}